table
{
  width: 100%;
  font: 17px Calibri;
}

table, th, td
{
  border: solid 1px #DDD;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
        
input[type='text'], select 
  {
    font: 17px Calibri;
    text-align: center;
    border: solid 1px #CCC;
    width: auto;
    padding: 2px 3px;
}

.delete
{
  font: 15px Calibri;
  cursor: pointer;
  border: none;
  color: white;
  background-color:#ED5650;
}

.update
{
  font: 15px Calibri;
  cursor: pointer;
  border: none;
  color: white;
  background-color:#44CCEB;
}

.create
{
  font: 15px Calibri;
  cursor: pointer;
  border: none;
  color: white;
  background-color:#207DD1;
}

.save{
  font: 15px Calibri;
  cursor: pointer;
  border: none;
  color: white;
  background-color:#2DBF64;
}